.container {
    max-width: 140rem;
    padding: 4.2re, 2.4rem;
    display: flex;
    justify-content: space-between;
}

/* .logo-brand{
    font-size: 100px;
} */

ul {
    display: flex;
    gap: 3.2rem;
}

